### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
total_players = len(purchase_data["SN"].value_counts())
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Number of Unique items
number_of_unique_items = len((purchase_data["Item ID"]).unique())
# Average Price
average_price = (purchase_data["Price"]).mean()
#Number of Purhases
number_of_purchases = (purchase_data["Purchase ID"]).count()
#Total Revenue
total_revenue = (purchase_data["Price"]).sum()

# Summary Data Frame 
summary_df = pd.DataFrame({"Number of Unique Items":[number_of_unique_items],
                           "Average Price":[average_price],
                           "Number of Purchase":[number_of_purchases], 
                           "Total Revenue": [total_revenue]})
# Data Cleaner Formatting
summary_df.style.format({"Average Price":"${:,.2f}", 
                        "Total Revenue": "${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Group purchase_data by Gender
gender_status = purchase_data.groupby("Gender")
# Count the total of screen names "SN" by gender
total_count_gender= gender_status.nunique()["SN"]
# Percentage of Players
percentage_of_players = total_count_gender / total_players * 100

# Creat Data Frame with percentage of players and total count
gender_demographics = pd.DataFrame({"Percentage of Players": percentage_of_players, "Total Count": total_count_gender})

# Data Formatting
gender_demographics.index.name = None
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Purchase Count by gender
purchase_count = gender_status["Purchase ID"].count()
# Average Purchase Prices by gender
avg_purchase_price = gender_status["Price"].mean()
# Purchase Total by gender
purchase_total = gender_status["Price"].sum()
# Total Purchase per Person by gender
avg_purchase_per_person = purchase_total/total_count_gender
#Summary Data Frame 
gender_demographics = pd.DataFrame({"Purhase Count": purchase_count, "Average Purchase Price": avg_purchase_price, 
                                    "Total Purchase Value":purchase_total,
                                    "Avg Total Purchase per Person": avg_purchase_per_person})
# Data Formatting
gender_demographics.index.name = "Gender"
gender_demographics.style.format({"Average Purchase Value": "${:,.2f}",
                                  "Average Purchase Price": "${:,.2f}",
                                  "Avg Total Purchase per Person": "${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:

# Establish bins/categorize the existing players
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
age_range_data = purchase_data.groupby("Age Range")

# Calculate the numbers and percentages
total_count_age = age_range_data.nunique()["SN"]
percentage_of_players = total_count_age / total_players * 100

age_demographics = pd.DataFrame({"Percentage of Players": percentage_of_players, "Total Count Age": total_count_age})

# Data Formatting
age_demographics.index.name = ("Age Range")
age_demographics.sort_values(["Total Count Age"]).style.format({"Percentage of Players":"{:.2f}"})

age_demographics = age_demographics.sort_index()
print(age_demographics)

           Percentage of Players  Total Count Age
Age Range
<10                     2.951389               17
10-14                   3.819444               22
15-19                  18.576389              107
20-24                  44.791667              258
25-29                  13.368056               77
30-34                   9.027778               52
35-39                   5.381944               31
40+                     2.083333               12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Purchase Count by gender
purchase_count = age_range_data["Purchase ID"].count()
# Average Purchase Prices by gender
avg_purchase_price =  age_range_data["Price"].mean()
# Purchase Total by gender
purchase_total =  age_range_data["Price"].sum()
# Total Purchase per Person by gender
avg_purchase_per_person = purchase_total/ total_count_age
#Summary Data Frame 
age_demographics = pd.DataFrame({"Purhase Count": purchase_count, "Average Purchase Price": avg_purchase_price, 
                                  "Total Purchase Value":purchase_total,
                                    "Avg Total Purchase per Person": avg_purchase_per_person})
# Data Formatting
# age_demographics.index.name = "Age Range"
age_demographics.style.format({"Average Purchase Value": "${:,.2f}",
                                  "Average Purchase Price": "${:,.2f}",
                                  "Avg Total Purchase per Person": "${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:

# basica colculations to obtain the results
spender_stats = purchase_data.groupby("SN")
 
purchase_count_spender = spender_stats["Purchase ID"].count()

avg_purchase_price_spender = spender_stats["Price"].mean()

total_purchase_spender = spender_stats["Price"].sum()

# Summary Data Frame 
top_spenders_df = pd.DataFrame({"Purchase Count":purchase_count_spender,
                               "Average Purchase Price":avg_purchase_price_spender,
                               "Total Purchase Value":total_purchase_spender})

# Sort the total purchase value column in descending order
formatted_spenders = top_spenders_df.sort_values(["Total Purchase Value"], ascending= False).head()

# Data Cleaner Formatting
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}", 
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value": "${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Retrieve the Item ID, Item Name, and Item Price columns
items = purchase_data[["Item ID", "Item Name", "Price"]]


item_stats = items.groupby(["Item ID","Item Name"])


purchase_count_item= item_stats["Price"].count()


total_purchase_value= (item_stats["Price"].sum())
item_price = total_purchase_value/purchase_count_item

most_popular_items = pd.DataFrame({"Purchase Count":purchase_count_item,
                             "Item Price":item_price,
                             "Total Purchase Value":total_purchase_value})


# Sort the total purchase value column in descending order
most_popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending= False).head()

# Data Cleaner Formatting
most_popular_formatted.style.format({"Item Price":"${:,.2f}", 
                         "Total Purchase Value": "${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:
most_popular_formatted = most_popular_items.sort_values(["Total Purchase Value"], ascending= False).head()
most_popular_formatted.style.format({"Item Price":"${:,.2f}", 
                         "Total Purchase Value": "${:,.2f}"})